*
{
	color:white;
}

html,body
{
	overflow-x: hidden;
}

.background
{
	 /*background-image: url('https://d1aueex22ha5si.cloudfront.net/Conference/945/BackGround/abstract-motion-dark-blue-background-4k_41oqtyt7g__F0000-1545402311918.png');
	 */background-color: lightgray;
	background-repeat: no-repeat;
	 background-size: 100% 100%;
	 background-position:0px 0px;
	 background-attachment: fixed;
}

.maincarousel img
{
	position: relative;
	width: 100%;
	height: 41rem;
}

.solider
{
	display: flex;
}

.nav 
{
	justify-content:right;
}

.navm
{
	font-size: 1.5rem;
  position: fixed;
  top: 0;
  lef: 0;
  right: 0;
  height: 6rem;
  box-shadow: 0px 0px 20px 0px black;
  margin-top: -0.925rem;
  background-color: rgba(18, 18, 18, 0.98);
  
  width: 100%;
  z-index: 100;
}

/*@media screen and (min-width:  500px)
{
	.navm
	{
		height: 6rem;
	}
}
*/
.nav a
{
	padding: 10px;
	color:white;
}

.nav a:hover
{
	color:white;
}

.dropdown-item
{
}

.dropdown-menu a
{
	color: black;
}

.nav-item
{
	margin-right:0px;
	margin-left:1.25rem;
	margin-top:1.9rem;
}

.nav-tabs .dropdown-menu
{
	font-size: 1.5rem;
}

.logo
{
	margin-top: 1.800rem;
	margin-bottom:-4.8rem;
}

.logo h3
{
	font-size: 2.5rem;
	margin-left:3.85rem;
	margin-top:-3.2rem;
}

.ee
{
	font-size: 2.5rem;
	font-weight: bolder;
	color: #ff3300;
}
.ee2
{
	color: #ff3300;

}
.wel
{
  box-shadow: 0px 0px 20px 0px black;
	width: 100%;
	height: 40rem;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
  color: white;
  text-shadow: 0 10px 20px rgba(0,0,0,1);
	display: flex;
	margin:-40rem auto auto auto;
}

.wel h1
{
	font-size: 3rem;
	margin-top: -3rem;
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wel h2
{
	font-size: 2.5rem;
	margin-top:  19.75rem;
	margin-left: auto;
	margin-right: auto;
}

.ov
{
	width:45rem;
	height:9.3rem;
	border-radius: 25px;
	display: flex;
  justify-content: left;
	padding-top:1.56rem;
	margin-top:7rem;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0, 0, 0, 0.8);
	box-shadow: 0px 0px 20px #000;
}

.cus
{
	text-align:center;
}

.pro
{
	margin-left:0.625rem;
	text-align:center;
}

.city
{
	margin-left:3.1rem;
	text-align:center;
}

.pro h3
{
	margin-left:-0.625rem;
}

.cus h3
{
	margin-left:-0.625rem;
}

.city h3
{
	margin-left:-0.625rem;
}

.ft
{
	box-shadow: 0px 0px 20px 0px black;
	display: flex;
	margin-top:4.25rem;
	height:27rem;
	color:white;
	background-color: rgba(0, 0, 0, 0.9);
}


.ft p
{
	margin-top:0.625rem;
	padding-top:1.25rem;
	text-align:center;
}

.ft h4
{
	margin-bottom: -1rem;
}
.ft h5
{
	margin-bottom: -1rem;
}

.lf
{
	text-align: center;
	display: flex;
	width: 100%;
	height: 2rem;
	background-color: rgba(0, 0, 0, 1);
	
}

/*.icon img
{
	margin-top: 7.2rem;
	margin-right: 5rem;
}

.icon a
{
	margin-right: 3rem;
	flex : 33.33%;
}

.icon
{
	flex: 33.33%;
	
	display: flex;
}
*/
.copy
{
	margin-top: -0.55rem;
	flex: 2;
}

.copy h6
{
	color: gray;

}

/*.icon h4
{
	margin-left: 5rem;
}

.icon h6
{
	margin-left: 4rem;
	margin-right: auto;
}
*/
.quicklink
{
	margin-left: 2.5rem;
	float: left;
}

.quicklink h5
{
	font-size: 1.5rem;
	color: gray;

}

.quicklink h5:hover
{
	color: white;
	
}

.proquicklink
{
	margin-left: auto;
	margin-right: auto;
}

.proquicklink h5
{
	font-size: 1.5rem;
	color: gray;
}

.proquicklink a
{
	text-decoration: none;
}

.contect
{
	display: flex;
}

.mob
{
	margin-right: -20.5rem;
	display: flex;
	margin-top: 2.8rem;
}

.mob img
{
	margin-right: 1rem;
	height: 3.5rem;
	width: 3.5rem;
}

.icon
{
	margin-top: 10rem;
}

.icon img
{
	margin-right: 3.5rem;
	width: 3.5rem;
	height: 3.5rem;
}

/*.contect img 
{
	margin-right: 2.5rem;
	width: 3rem;
	height: 3rem;
}

.contect h3
{
	justify-content: center;
}


.contect a
{
	margin-left: -1rem;
	margin-top: 0.5rem;
}
*/
.quicklink a
{
	text-decoration: none;
	color: white;
}

.contect a
{
	text-decoration: none;
	color: white;
}

.vl 
{
  border-left: 3px solid blue;
  height: 100px;
  margin-top:-100px;
  margin-left:15rem;
}

.know
{
	width:100%;
	height:50rem;
	display:flex;
	justify-content: center;
	box-shadow: 0px 0px 20px #000;
	background-image: url('https://thumbs.dreamstime.com/b/isometric-location-map-points-white-background-vector-95132601.jpg');
	background-size: 100% 100%;
  background-position:0px 0px;
  background-attachment:fixed;
}

.know h2
{
	margin-top:-3.75rem;
	margin-left:6.25rem;
}

.know2
{
	width: 100%;
	height: 40rem;
	margin-top:6.25rem;
	margin-right:30%;
}

.know2 h1
{
	margin-left: 1rem;
}

.know2 b
{
	font-size: 2.5rem;
	font-weight: 700;
	color: black;

}

.par
{
	color: black;
}

.au
{
	height: 23rem;
	margin-top: 3.1rem;
	display: flex;
}

.au p 
{
	font-size: 2rem;
	margin: auto;
	padding: 1.5rem;
	text-align: justify; 
  text-align-last: left;
}


.au h4
{
	margin: 0.625rem auto auto 6.25rem;
}

.visi
{
	margin-top:6.25rem;
	margin-left:2.6rem;
}

.card-body
{
	background-color: rgba(0, 0, 0, 0.9);
}

.row
{
	justify-content: center;
	flex-direction: column;
}

.row h3
{
	font-size: 2.5rem;
}

.row p
{
	font-size: 1.2rem;
}

.pd
{
	margin-top:1.8rem;
	display:flex;
	align-items: center;
	flex-direction: column;
}

.card
{	
	justify-content:center;
	box-shadow: 0px 0px 20px 5px black;
	height:32rem;
	width:35.75rem;
	margin: 3rem auto;
}


.card h4
{
	font-size: 2.5rem;
}

.card p
{
	font-size: 1.2rem;
}

.card a
{
	text-decoration: none;	
}

.titlePro
{
	margin-top: 3.1rem;
}

.titlePro h2
{
	font-weight: 700;
	margin-left: 1rem;
	color: black;
	font-size: 2.5rem;
}

.card1
{
	display: flex;
	box-shadow: 0px 0px 20px 0px black;
	width: 50rem;
	margin: 3rem auto 3rem auto;
}

.titleVisi
{
	margin-left: -2.5rem;
	margin-bottom: 1.8rem;
}

.titleVisi h2
{
	font-size: 2.5rem;
}

.row3{
	background-color: black;
	margin-left: -9rem;
	margin-right: -9rem;
	margin-top: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.card3 {
	border-radius: 2rem;
	background: linear-gradient(0deg, rgba(255,255,255,0)0%,rgba(39,38,42,1) 100%);
	box-shadow: 0px 0px 20px 0px black;
  height: 25rem;
  width: 30rem;
	background-color: black;
  padding: 3rem;
  margin: 1.75rem;
  margin-bottom: 2rem;
  border: 0;
  flex-grow: 0;
  flex-shrink: 0;
}

.card3 > img {
  margin-bottom: .75rem;
  margin-bottom: 3rem;
  width: 35%;
}

.card3 h1
{
	font-size: 3rem;
}

.card-text {
  font-size: 2rem;
}

.row4{
	margin-left: -9rem;
	margin-right: -9rem;
	margin-top: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-animation-name: move;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: right;
  -webkit-animation-timing-function: linear;
}

.row4:hover {
  -webkit-animation-play-state: paused;
}

@-webkit-keyframes move {
  0% {
    margin-left: -150px;
  }
  100% {
    margin-left: -3350px;
  }
}
.card4 {
	
	position: relative;
	border-radius: 2rem;
	box-shadow: 0px 0px 20px 0px black;
  height: 15rem;
  width: 25rem;
  margin: 1.75rem;
  margin-bottom: 2rem;
  border: 0;
  flex-grow: 0;
  flex-shrink: 0;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 70%); 
}

.card4 > img {
	background-color: transparent; 
	border-radius: 2rem;
  width: 100%;
  height: 100%;
}

.card4 h1
{
	margin-top: -8rem;
	margin-left: 2rem;
	position: absolute;
	font-size: 3rem;
}


.procur
{
	margin-bottom: -6rem;
	padding-top: 5rem;
	color: #fff;
	display: flex;
	align-items: center;
}

.slider {
	width: 100%;
}
.slider input {
	display: none;
}
.testimonials {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	min-height: 550px;
	perspective: 500px;
	overflow: hidden;
}
.testimonials .item {
	background: linear-gradient(to bottom, rgba(0,0,0,0.85) 0%, rgba(0,0,0,1) 70%);
	border-radius: 2rem;
	top: 0;
	position: absolute;
	box-sizing: border-box;
	padding: 30px;
	width: 30rem;
	height: 25rem;
	text-align: center;
	transition: transform 0.4s;
	-webkit-transform-style: preserve-3d;
	box-shadow: 0px 20px 20px rgba(0,0,0,0.6);
	user-select: none;
	cursor: pointer;
}
.testimonials .item img {
	margin-left: -16rem;
	width: 10rem;
	margin-bottom: 4rem;
}
.testimonials .item p {
	text-align: left;
	font-size: 2rem;
	color: #ddd;
}
.testimonials .item h2 {
	text-align: left;
	font-size: 3rem;
}
.dots {
	display: flex;
	justify-content: center;
	align-items: center;
}
.dots label {
	display: block;
	height: 5px;
	width: 5px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #413B52;
	margin: 7px;
	margin-top: -10rem;
	transition: transform 0.2s, color 0.2s;
}

/* First */
#t-1:checked ~ .dots label[for="t-1"] {
	transform: scale(2);
	background-color: #fff;
}
#t-1:checked ~ .dots label[for="t-2"] {
	transform: scale(1.5);
}
#t-1:checked ~ .testimonials label[for="t-1"] {
	z-index: 4;
}
#t-1:checked ~ .testimonials label[for="t-2"] {
	transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
	z-index: 3;
}
#t-1:checked ~ .testimonials label[for="t-3"] {
	transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
	z-index: 2;
}
#t-1:checked ~ .testimonials label[for="t-4"] {
	transform: translateX(900px) translateZ(-270px) rotateY(-35deg);
	z-index: 1;
}
#t-1:checked ~ .testimonials label[for="t-5"] {
	transform: translateX(1200px) translateZ(-360px) rotateY(-45deg);
}

/* Second */
#t-2:checked ~ .dots label[for="t-1"] {
	transform: scale(1.5);
}
#t-2:checked ~ .dots label[for="t-2"] {
	transform: scale(2);
	background-color: #fff;
}
#t-2:checked ~ .dots label[for="t-3"] {
	transform: scale(1.5);
}
#t-2:checked ~ .testimonials label[for="t-1"] {
	transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
}
#t-2:checked ~ .testimonials label[for="t-2"] {
	z-index: 3;
}
#t-2:checked ~ .testimonials label[for="t-3"] {
	transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
	z-index: 2;
}
#t-2:checked ~ .testimonials label[for="t-4"] {
	transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
	z-index: 1;
}
#t-2:checked ~ .testimonials label[for="t-5"] {
	transform: translateX(900px) translateZ(-270px) rotateY(-35deg);
}

/* Third */
#t-3:checked ~ .dots label[for="t-2"] {
	transform: scale(1.5);
}
#t-3:checked ~ .dots label[for="t-3"] {
	transform: scale(2);
	background-color: #fff;
}
#t-3:checked ~ .dots label[for="t-4"] {
	transform: scale(1.5);
}
#t-3:checked ~ .testimonials label[for="t-1"] {
	transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
}
#t-3:checked ~ .testimonials label[for="t-2"] {
	transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
}
#t-3:checked ~ .testimonials label[for="t-3"] {
	z-index: 3;
}
#t-3:checked ~ .testimonials label[for="t-4"] {
	transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
	z-index: 2;
}
#t-3:checked ~ .testimonials label[for="t-5"] {
	transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
}

/* Fourth */
#t-4:checked ~ .dots label[for="t-3"] {
	transform: scale(1.5);
}
#t-4:checked ~ .dots label[for="t-4"] {
	transform: scale(2);
	background-color: #fff;
}
#t-4:checked ~ .dots label[for="t-5"] {
	transform: scale(1.5);
}
#t-4:checked ~ .testimonials label[for="t-1"] {
	transform: translateX(-900px) translateZ(-270px) rotateY(35deg);
}
#t-4:checked ~ .testimonials label[for="t-2"] {
	transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
}
#t-4:checked ~ .testimonials label[for="t-3"] {
	transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
	z-index: 2;
}
#t-4:checked ~ .testimonials label[for="t-4"] {
	z-index: 3;
}
#t-4:checked ~ .testimonials label[for="t-5"] {
	transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
}

/* Fifth */
#t-5:checked ~ .dots label[for="t-4"] {
	transform: scale(1.5);
}
#t-5:checked ~ .dots label[for="t-5"] {
	transform: scale(2);
	background-color: #fff;
}
#t-5:checked ~ .testimonials label[for="t-1"] {
	transform: translateX(-1200px) translateZ(-360px) rotateY(45deg);
}
#t-5:checked ~ .testimonials label[for="t-2"] {
	transform: translateX(-900px) translateZ(-270px) rotateY(35deg);
	z-index: 1;
}
#t-5:checked ~ .testimonials label[for="t-3"] {
	transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
	z-index: 2;
}
#t-5:checked ~ .testimonials label[for="t-4"] {
	transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
	z-index: 3;
}
#t-5:checked ~ .testimonials label[for="t-5"] {
	z-index: 4;
}

.curop
{
	box-shadow: 0px 0px 20px black;
	margin: 3rem auto 6rem auto;
	height: 40rem;
	width: 100%;
}
.curop img
{
	height: 40rem;
}

.img11
{
	margin-top: -2rem;
	background :linear-gradient(to bottom, rgba(0, 0, 0, 0) 20% , rgba(0, 0, 0, 1));
	width: 100%;
	height: 40rem;
	position: absolute;
}

.curop h1
{
	text-shadow: 2px 2px 20px black;
	margin-left: -8rem;
	margin-bottom: 0rem;
	text-align: left;
	font-size: 4rem;
}

.curop p 
{
	margin-left: -8rem;
	margin-bottom: -2rem;
	text-align: left;
	font-size: 2rem;
}






.vi {
	position: relative;
  padding: 20px;
  user-select: none;
}

[type=radio] {
  display: none;
}

#slider {
  height: 25vw;
  position: relative;
  perspective: 10000px;
  transform-style: preserve-3d;
}

#slider label {
  margin: auto;
  width: 80%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  left: 0; right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(-30%,0,-200px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(-15%,0,-100px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
  transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(15%,0,-100px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(30%,0,-200px);
}

#slide1 { background: #00BCD4 }
#slide2 { background: #4CAF50 }
#slide3 { background: #CDDC39 }
#slide4 { background: #FFC107 }
#slide5 { background: #FF5722 }

.v1 h1
{
	padding-top: 10rem;
	position: absolute;
}












@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  
}
.vi{
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  margin-top: 18rem;
  margin-bottom: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .outer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .card{
  background: black;
  width: 430px;
  height: 450px;
  display: flex;
  align-items: center;
  padding: 20px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  justify-content: space-between;
  border-radius: 100px 20px 20px 100px;
  box-shadow: 0px 10px 20px black;
  animation: animate 15s linear infinite;
  animation-delay: calc(3s * var(--delay));
}
.outer:hover .card{
  animation-play-state: paused;
}
.wrapper .card:last-child{
  animation-delay: calc(-3s * var(--delay));
}
@keyframes animate {
  0%{
    opacity: 0;
    transform: translateX(100%) scale(0.5);
  }
  5%, 20%{
    opacity: 0.4;
    transform: translateX(100%) scale(0.7);
  }
  25%, 40%{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0%) scale(1);
  }
  45%, 60%{
    opacity: 0.4;
    transform: translateX(-100%) scale(0.7);
  }
  65%, 100%{
    opacity: 0;
    transform: translateX(-100%) scale(0.5);
  }
}
.card .content{
  display: flex;
  align-items: center;
  margin-top: 3rem;
}
.wrapper .card .img{
  height: 200px;
  box-shadow: 0px 0px 30px blue;
  width: 200px;
  position: absolute;
  left: -6px;
  background: black;
  border-radius: 50%;
  padding: 0px;
}
.card .img img{
	margin-left: 2.2rem;
	margin-top: 2rem;
  height:65%;
  width: 65%;
}

.card a{
  text-decoration: none;
  padding: 7px 18px;
  border-radius: 25px;
  color: black;
  background: linear-gradient(to bottom, #bea2e7 0%, #86b7e7 100%);
  transition: all 0.3s ease;
}
.card a:hover{
  transform: scale(0.94);
}

.viti
{
	font-size: 2.5rem;
  font-weight: 700;
	color: black;
	margin-left: 1rem;
}

.vi h1
{
	color: white;
	margin-bottom: -6rem;
	text-align: center;
}

.vi p
{
	color: lightgray;
	    text-align: justify;
    text-align-last: left;
}































































